<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Confirmación</title>
</head>
<body>
    <header class="header-container">
        <div class="logo">
            <img src="./static/assets/vite.svg" alt="Logo DevSolutions">
            <p>DevSolutions</p>
        </div>
        <button id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>
        <nav id='menu' class="menu-container">
            <ul class="menu-list">
                <button id="cerrar" class="cerrar-menu"><i class="bi bi-x"></i></button>
                <li><a href='#home'>Inicio</a></li>
                <li><a href='#services'>Servicios</a></li>
                <li><a href='#about'>Acerca de</a></li>
                <li><a href='#work'>Trabajo</a></li>
                <li><a href='#contact'>Contáctanos</a></li>
            </ul>
        </nav>
    </header>
    <section id="confirmation" class="confirmation parallax">
        <h2>¡Gracias!</h2>
        <p>Tu mensaje ha sido enviado con éxito. Nos pondremos en contacto contigo pronto.</p>
        <a href="/" class="action-button">Volver a la página de inicio</a>
    </section>
    <footer>
        <p>&copy; 2023 DevSolutions. Todos los derechos reservados.</p>
    </footer>
    <script src="./index.js"></script>
</body>
</html>
